.hero-image {
  background-image: url("../../../public/images/hero_background.png");
  background-repeat: no-repeat;
  background-size: contain;

  width: 100%;
  height: 120vh;
}

.profile-picture {
  background-image: url("../../../public/images/asif-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  /* background-color: red; */
}
